!!!5
html
  head
    title VentaCAD
    script(src='./static/app.js')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet',type='text/css')
    link(href='./static/app.css', rel='stylesheet',type='text/css')
    script(type='text/javascript') require('index')
    link(rel='shortcut icon', href='/static/img/favicon.png')
  body

  div(id = 'content')
